name: .NET

on:
  push:
    branches: [ stable ]
  pull_request:
    branches: [ stable ]
defaults:
  run:
    shell: bash
    working-directory: osu
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install git
      run: |
          mkdir mfosu
          cd mfosu
          git clone https://github.com/MATRIX-feather/osu.git
          git clone https://github.com/MATRIX-feather/osu-framework.git
          ls
    - name: next
      run: |
        ls
        cd ../osu
    - name: Build
      run: dotnet run --project osu.Desktop -c Release
